@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}
#contatos{
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: center;
  background-color: #44A1A0;
  color: white;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
}