@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
#sobre{
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    align-items: center;
    background-color: #44A1A0;
    color: white;
}