<h1>Usuários do SIME</h1>

<div id="usuarios">
    @for(item of usuarios; track item.nome){
        <div id="usuario">
            <h3>{{item.nome}}</h3>
            <h4>E-mail: {{item.email}}</h4>
            <h4>RM: {{item.rm}}</h4>
            <h4>Telefone: {{item.telefone}}</h4>
            <h4>Chamados abertos: {{item.chamadosAbertos}}</h4>
            <h4>Chamados concluidos: {{item.chamadosConcluidos}}</h4>
            <h4>Senha: {{item.senha}}</h4>
            <h4>Tipo perfil: {{item.tipoPerfil}}</h4>
            <button id="editarUserBtn" (click)="editarUser(item.nome, item.email, item.rm, item.telefone, item.chamadosAbertos, item.chamadosConcluidos, item.senha, item.tipoPerfil)">Editar usuário</button>
        </div>
    }
</div>

@if(criarBtn){
    <div id="formCadastroUser">
        <form [formGroup]="cadastroForm" (ngSubmit)="submitCadastro()">
            <p for="nome">Nome:</p>
            <input type="text" id="nomeInput" formControlName="nome">
            
            @if(cadastroForm.get('nome')?.touched && cadastroForm.get('nome')?.invalid){
                <div>
                  @if (cadastroForm.get('nome')?.errors?.['required']) {
                    <small>Nome é obrigatório!!</small>
                  }
                </div>
            }

            <p for="email">E-mail:</p>
            <input type="email" id="emailInput" formControlName="email">
            
            @if(cadastroForm.get('email')?.touched && cadastroForm.get('email')?.invalid){
                <div>
                  @if (cadastroForm.get('email')?.errors?.['required']) {
                    <small>E-mail é obrigatório!!</small>
                  }
                </div>
            }

            <p for="rm">RM:</p>
            <input type="text" id="rmInput" formControlName="rm">

            @if(cadastroForm.get('rm')?.touched && cadastroForm.get('rm')?.invalid){
                <div>
                  @if (cadastroForm.get('rm')?.errors?.['required']) {
                    <small>RM é obrigatório!!</small>
                  }
                </div>
            }

            <p for="telefone">Telefone:</p>
            <input type="text" id="telefoneInput" formControlName="telefone">

            @if(cadastroForm.get('telefone')?.touched && cadastroForm.get('telefone')?.invalid){
                <div>
                  @if (cadastroForm.get('telefone')?.errors?.['required']) {
                    <small>Telefone é obrigatório!!</small>
                  }
                </div>
            }

            <p for="chamadosAbertos">Chamados abertos</p>
            <input type="text" id="chamadosAbertosInput" formControlName="chamadosAbertos">
            
            @if(cadastroForm.get('chamadosAbertos')?.touched && cadastroForm.get('chamadosAbertos')?.invalid){
                <div>
                  @if (cadastroForm.get('chamadosAbertos')?.errors?.['required']) {
                    <small>Chamados abertos é obrigatório!!</small>
                  }
                </div>
            }
            
            <p for="chamadosConcluidos">Chamados concluídos</p>
            <input type="text" id="chamadosConcluidosInput" formControlName="chamadosConcluidos">
            
            @if(cadastroForm.get('chamadosConcluidos')?.touched && cadastroForm.get('chamadosConcluidos')?.invalid){
                <div>
                  @if (cadastroForm.get('chamadosConcluidos')?.errors?.['required']) {
                    <small>Chamados concluídos é obrigatório!!</small>
                  }
                </div>
            }
            
            <p for="senha">Senha:</p>
            <input type="password" id="senhaInput" formControlName="senha">

            @if(cadastroForm.get('senha')?.touched && cadastroForm.get('senha')?.invalid){
                <div>
                  @if (cadastroForm.get('senha')?.errors?.['required']) {
                    <small>Senha é obrigatório!!</small>
                  }
                </div>
            }

            <p for="tipoPerfil">Tipo perfil: </p>
            <input type="text" id="tipoPerfilInput" formControlName="tipoPerfil">

            @if(cadastroForm.get('tipoPerfil')?.touched && cadastroForm.get('tipoPerfil')?.invalid){
                <div>
                  @if (cadastroForm.get('tipoPerfil')?.errors?.['required']) {
                    <small>Senha é obrigatório!!</small>
                  }
                </div>
            }
            <br>
        </form>
        <button type="submit" id="cadastrarUserBtn" (click)="OnCadastrar()">Cadastrar</button>
    </div>
}

@if(editarBtn){
  <div>
    <div id="formEditarUser">
          <form [formGroup]="editarForm" (ngSubmit)="submitEditar()">
              <p for="nome">Nome:</p>
              <input type="text" id="nomeInput" formControlName="nome">
              
              <p for="email">E-mail:</p>
              <input type="email" id="emailInput" formControlName="email">
            
              <p for="rm">RM:</p>
              <input type="text" id="rmInput" formControlName="rm">

              <p for="telefone">Telefone:</p>
              <input type="text" id="telefoneInput" formControlName="telefone">

              <p for="chamadosAbertos">Chamados abertos</p>
              <input type="tex" id="chamadosAbertosInput" formControlName="chamadosAbertos">
                
              <p for="chamadosConcluidos">Chamados concluídos</p>
              <input type="text" id="chamadosConcluidosInput" formControlName="chamadosConcluidos">
                
              <p for="senha">Senha:</p>
              <input type="password" id="senhaInput" formControlName="senha">

              <p for="tipoPerfil">Tipo perfil: </p>
              <input type="text" id="tipoPerfilInput" formControlName="tipoPerfil">
              <br>
          </form>
          <button type="submit" id="editaRUserBtn" (click)="OnEditar()">Editar</button>
      </div>
  </div>
}
<button id="criarUserBtn" (click)="criarUser()">Criar usuário</button>